body {
    padding: 1rem;
}

.control,
.mixitup-pager {
    cursor: pointer;
    display: inline-block;
    padding: .5rem;
    background: #eee;
}

.control.active,
.mixitup-pager.active {
    font-weight: bold;
}

.mixitup-pager-disabled {
    opacity: .5;
}

.mix {
    display: none;
    width: 100px;
    height: 100px;
    margin: 10px;
    background: skyblue;
}

.sandbox__mixitup .mix {
    display: inline-block;
}

.mix.cat-2 {
    background: violet;
}

.mix.cat-3 {
    background: yellow;
}

.mix.cat-4 {
    background: aquamarine;
}