html,
body {
    height: 100%;
    background: #f2f2f2;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Controls
---------------------------------------------------------------------- */

.controls {
    padding: 1rem;
    background: #333;
    font-size: 0.1px;
}

.control {
    position: relative;
    display: inline-block;
    width: 2.7rem;
    height: 2.7rem;
    background: #444;
    cursor: pointer;
    font-size: 0.1px;
    color: white;
    transition: background 150ms;
}

.control:hover {
    background: #3f3f3f;
}

.control[data-filter]:after,
.control[data-toggle]:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(50% - 7px);
    left: calc(50% - 7px);
    border: 2px solid currentColor;
    border-radius: 2px;
    background: currentColor;
    transition: background-color 150ms, border-color 150ms;
}

.control[data-sort]:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-left: 2px solid;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    transform:  translateY(1px) rotate(45deg);
}

.control[data-sort*=":desc"]:after {
    transform:  translateY(-4px) rotate(-135deg);
}

.mixitup-control-active {
    background: #393939;
}

.mixitup-control-active[data-filter]:after {
    background: transparent;
}

.control:first-of-type,
.control[data-filter] + .control[data-sort]  {
    border-radius: 3px 0 0 3px;
}

.control:last-of-type,
.control[data-filter="none"] {
    border-radius: 0 3px 3px 0;
}

.control[data-filter] + .control[data-sort] {
    margin-left: .75rem;
}

.control[data-filter=".green"],
.control[data-toggle=".green"] {
    color: #91e6c7;
}

.control[data-filter=".blue"],
.control[data-toggle=".blue"] {
    color: #5ecdde;
}

.control[data-filter=".pink"],
.control[data-toggle=".pink"] {
    color: #d595aa;
}

.control[data-filter="none"],
.control[data-toggle="none"] {
    color: #2f2f2f;
}

/* Container
---------------------------------------------------------------------- */

.container {
    padding: 1rem;
    text-align: justify;
    font-size: 0.1px;
}

.container:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.container-flex {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-flex .mix {
    display: inline-flex;
}

/* Target Elements
---------------------------------------------------------------------- */

.mix,
.gap {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 0.5rem);
}

.mix {
    background: #fff;
    border-top: .5rem solid currentColor;
    border-radius: 2px;
    margin-bottom: 1rem;
    position: relative;
    color: transparent;
    font-family: 'helvetica-neue', arial, sans-serif;
}

.mix:before {
    content: '';
    display: inline-block;
    padding-top: 56.25%;
    border-top: .5rem solid transparent;
}

.mix.green {
    color: #91e6c7;
}

.mix.pink {
    color: #d595aa;
}

.mix.blue {
    color: #5ecdde;
}

.mix.pink.green:before {
    width: 100%;
    border-top-color: #91e6c7;
}

.mix.green.blue:before {
    width: 100%;
    border-top-color: #91e6c7;
}

.mix.blue.pink:before {
    width: 100%;
    border-top-color: #d595aa;
}

.mix[data-published-date]:after {
    position: absolute;
    content: attr(data-published-date);
    font-size: 1rem;
    font-weight: bold;
    color: #aaa;
    padding: 1rem;
    width: 100%;
    top: 0;
    left: 0;
}

.mix p {
    padding: 1rem;
    display: inline-block;
    font-size: calc(1vw + .5rem);
    color: #333;
    line-height: 1.4;
    font-weight: 300;
}

/* Breakpoints
---------------------------------------------------------------------- */

@media screen and (min-width: 541px) {
    .mix,
    .gap {
        width: calc(33.33% - (2rem/3));
    }
}

@media screen and (min-width: 961px) {
    .mix,
    .gap {
        width: calc(25% - (3rem/4));
    }
}


